<html>
  <body style="background-color:powderblue;">
    <h1 title="hi :D">
      <font face="Comic sans MS"> COMIC SAAAAAAANS </font>
    </h1>
    <form action="/bepis" method="POST">
      Arbitrary text: <input type="text" name="bepis"/>
      <input type="submit" value="DO IT NERD"/>
    </form>
  </body>
</html>
