<html>
  <body style="background-color:powderblue;">
    <h1 title="hi :D">
      <font face="Comic sans MS"> COMIC SAAAAAAANS </font>
    </h1>
    <form action="/bepis" method="POST">
      <label for="POST-name">Trainer Name:</label>
      <input id="POST-name" type="text" name="name">
    </br>
      <label for "POST-pokename">Starter Pokemon:</label>
      <input id="POST-pokename" type="text" name="pokename">
    </br>
      <button type="submit" value="submit">Giff</button>
    </form>
  </body>
</html>
